*.aux
*.bbl
*.bcf
*.blg
*.cls
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pyg
*.run.xml
*.synctex.gz
*.tex
*.toc
*.zip
.DS_Store
.idea/
_minted-*
build/
node_modules/
package/
target/
yb-book.pdf
